@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

input, button {
    font-family: 'Inter', sans-serif;
}

input::placeholder {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,li {
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 100px;

    z-index: 999;
}

.header-background.scrolled {
    background-color: #090E1A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 100px;
    z-index: 998;
}

.header-logo__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.header-logo img {
    max-width: 180px;
    max-height: 30px;
    
    cursor: pointer;
}

.header-logo__txt h1 {
    color: #B8B8B8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header-nav__link {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.header-nav__link:hover {
    color: #FFCB00;
}

.header-nav__link.active {
    color: #FFCB00;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.header-info a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    text-transform: uppercase;
}

.header-info a:hover {
    color: #FFCB00;
}

/* Стиль для контейнера бургер-меню */
.header-burger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    transition: transform 0.3s ease;
    display: none;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: #FFCB00;  /* Цвет линий */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Состояние бургер-меню по умолчанию */
.header-burger .burger-line:nth-child(1) {
    transform: translateY(0);
}

.header-burger .burger-line:nth-child(2) {
    transform: translateY(0);
}

.header-burger .burger-line:nth-child(3) {
    transform: translateY(0);
}

/* Состояние активного меню - бургер превращается в крестик */
.header-burger.active .burger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);  /* Первая линия: вниз и поворот */
}

.header-burger.active .burger-line:nth-child(2) {
    opacity: 0;  /* Скрываем вторую линию */
}

.header-burger.active .burger-line:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);  /* Третья линия: вверх и поворот */
}


.banner-bcc img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 35%;
    bottom: 100%;
    left: 10%;
}

.banner-content h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    line-height: 110%; /* 70.4px */
    letter-spacing: -0.64px;
    text-transform: uppercase;

    max-width: 868px;

    margin-bottom: 27px;
}

.banner-content span {
    color: #FFCB00;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30px */

    max-width: 416px;
}

.manufacturers-wrapper {
    margin-top: -24px;
    width: 100%;
    position: relative;
    padding-bottom: 48px;
}

.manufacturers-bcc {
    width: 100%;
    position: relative;
}

.manufacturers-bcc img {
    width: 100%;
    height: 100%;
}

.manufacturers-bcc__back {
    width: 100%;
    margin-top: -16%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.manufacturers-bcc__back img {
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.manufacturers-content {
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 5%;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.manufacturers-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    max-width: 340px;
}

.manufacturers-txt h2 {
    color: #000;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 46.2px */
    letter-spacing: -0.42px;
}

.manufacturers-txt p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.manufacturers-services__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;

    max-width: 1080px;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.manufacturers-services {
    position: relative;

    cursor: pointer;
}

.manufacturers-services:hover img {
    scale: 1.05;
}

.manufacturers-services span {
    position: absolute;
    top: 45%;
    left: 8%;
    right: 0;
    bottom: 0;
    /* transform: translateX(-10%); */

    width: 179px;
    height: 44px;

    text-align: center;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 22px */
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.manufacturers-services img {
    width: 210px;
    height: 210px;
}

.information-wrapper {
    margin-top: 96px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 76px;
    width: 100%;
}

.informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    gap: 24px;
}

.information {
    max-width: 422px;
}

.information-header {
    position: relative;
}

.information-header img {
    width: 280px;
    height: 46px;
}

.information-header span {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 7%;
    right: 0;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
    text-transform: uppercase;
}

.information p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 20.8px */
    margin-left: 32px;

    margin-top: 16px;
}

.catalog-wrapper {
    margin-top: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
}

.product {
    cursor: pointer;
    flex: 1;
}

.product:hover .product-title{
    border-radius: 0px 0px 10px 10px;
    background: #FFCB00;
}

.product:hover .product-title h2 {
    color: #090E1A;
}

.product:hover svg path {
    fill: white;
}

.product-img {
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img svg {
    width: 179px;
    height: 179px;
}

.product-title {
    margin-top: 4px;

    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.10);

    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.product-title h2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 22px */
    letter-spacing: -0.2px;
}

.swiper-wrapper {
    margin-top: 64px;
}

.swiper.main {
    width: 100%;
    height: 100%;
}

.swiper.main .swiper-slide {
    position: relative;
    height: 400px;
}

.swiper.main .swiper-slide img {
    object-fit: cover;
}

.swiper.main .swiper-title {
    position: absolute;
    top: 65%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.swiper.main .swiper-title span {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 46.2px */
    letter-spacing: -0.42px;
    text-transform: uppercase;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    border-radius: initial;
}

.swiper-pagination-bullet-active {
    background-color: #FFCB00;
}

.manufacturers-content.company {
    justify-content: flex-start;
}

.companys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 96px;
}

.company img {
    width: 200px;
    height: 200px;
}

marquee {
    width: 1200px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    margin-top: 96px;
    margin-bottom: 48px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-col span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px; /* 120% */
    text-transform: uppercase;
}

.footer-search {
    display: flex;
    flex-direction: row;

    margin-top: 22px;
}

.footer-search input {
    border: none;
    outline: none;
    padding: 11px 15px;
    background: rgba(255, 255, 255, 0.20);

    width: 219px;
    height: 38px;

    color: #999;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-search input::placeholder {
    color: #999;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-search__icon {
    width: 46px;
    height: 38px;
    object-fit: cover;
    cursor: pointer;
    background: #383838;
    padding: 8px;
}

.footer-search__icon img {
    object-fit: contain;
}

.feedback-btn {
    margin-top: 22px;

    color: #FFCB00;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;
}

.feedback-btn:hover {
    color: #FFF;
}

.footer-content {
    margin-top: 22px;

    display: flex;
    flex-direction: column;
}

.footer-content a {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

.footer-content a:hover {
    color: #FFCB00;
}

.footer-content p {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 8px;

    margin-top: 22px;
}

.footer-social a {
    cursor: pointer;
}

/* .overlay {
    display: none;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0; 
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(100%); 
}

.overlay.active {
    display: flex;
    opacity: 1;
    transform: translateY(0); 
} */

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden; 
    transform: translateY(100%); 
}

.overlay.active {
    opacity: 1;
    visibility: visible; 
    transform: translateY(0); 
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 128px auto;

    width: 100%;
    max-width: 628px;
    padding: 40px;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.70);
}

.feedback-form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    width: 100%;
}

.feedback-form__header span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    text-transform: uppercase;
}

.feedback-form__header .lines {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.feedback-form__header .lines svg path:hover {
    fill: #FFCB00;
}

.feedback-form form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 600px;
}

.feedback-form form input {
    height: 48px;
    padding: 14px 20px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.30);
    border: none;
    outline: none;

    margin-bottom: 20px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form input::placeholder {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form textarea {
    padding: 14px 20px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.30);
    border: none;
    outline: none;

    margin-bottom: 20px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form textarea::placeholder {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form button {
    height: 48px;
    padding: 14px 20px;

    border-radius: 2px;
    background: #FFCB00;
    cursor: pointer;
    border: 1px solid transparent;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form button:hover {
    background: transparent;
    border: 1px solid #FFCB00;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-form form input:invalid, textarea:invalid {
    border: 2px solid red;
}

.feedback-form form input:valid, textarea:valid {
    border: 2px solid green;
}

.feedback-success {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;  

    width: 100%;
    max-width: 600px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
    height: 432px;
}

.feedback-success p {
    margin-top: 96px;
}

.feedback-success button {
    height: 48px;
    padding: 14px 20px;

    border-radius: 2px;
    background: #FFCB00;
    cursor: pointer;
    border: 1px solid transparent;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.feedback-success button:hover {
    background: transparent;
    border: 1px solid #FFCB00;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #090E1A;
    width: 50%;
    height: 100vh;

    display: none;

    z-index: 99;
}

.burger-menu.active {
    display: block;
}

.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    position: relative;
    margin-top: 128px;
    text-align: left;
}

.banner-bcc.about img{
    height: 400px;
}

.banner-content.about {
    top: 15%;
}

.banner-content__btn {
    /* position: absolute;
    top: 38%;
    bottom: 100%;
    left: 0;
    right: 0; */

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-top: -20px;
}

.banner-btn__el {
    position: relative;
    height: max-content;
}

.banner-btn__el a {
    position: absolute;
    top: 20%;
    z-index: 999;
    left: 0;
    right: 0;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    text-transform: uppercase;
}

.banner-btn__el:hover svg rect{
    fill: #FFCB00;
}

.manufacturers-wrapper.about {
    margin-top: 64px;
}

.manufacturers-wrapper.about .manufacturers-txt {
    max-width: 1177px;
}

.manufacturers-wrapper.about .manufacturers-txt p{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
}

.title-wrapper h2 {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 200;
    line-height: 120%; /* 50.4px */
    margin-top: 48px;
}

.advantages-wrapper {
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 32px;
}

.advantages-txt {
    max-width: 811px;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */

    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 32px;
}

.advantages-img {
    max-height: 872px;

    position: relative;
}

.advantages-els {
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 32px;
    right: 32px;

    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 36.4px */

    display: flex;
    flex-direction: column;
    gap: 64px;
}

.advantages-el svg {
    width: 60px;
    height: 60px;

    margin-bottom: 16px;
}

.about-photo__wrapper {
    margin-top: 64px;
}

.about-photo__wrapper img {
    border-radius: 8px;
}

.about-photo__slider {
    margin-top: 46px;
}

.mySwiper-about .swiper-slide {
    cursor: pointer;
    
    width: 375px;
    height: 170px;
}

.about-photo__wrapper .about-photo__main {
    width: 100%;
    height: 730px;
}

.banner-content__btn.catalog {
    right: initial;
    left: 5%;
}

.banner-content__btn.catalog .banner-btn__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.banner-content__btn.catalog .banner-btn__el .banner-btn__link {
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
}

.banner-content__btn.catalog .banner-btn__el .banner-btn__link a {
    position: initial;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 19.2px */
}

.catalog-wrapper__pages {
    margin-top: 46px;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center; */

    gap: 30px;
}

.catalog-item__pages {
    max-width: 347px;
    max-height: 298px;

    cursor: pointer;

    position: relative;

    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.catalog-item__pages img {
    border-radius: 8px;
}

.catalog-item__pages:hover img {
    scale: 1.1;
}

.catalog-title__pages {
    position: absolute;
    bottom: 20px;

    width: 325px;
    background: rgba(0, 0, 0, 0.70);
    padding: 12px 20px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;

    border-radius: 0 0 20px 0;
}

.services-info__wrapper {
    margin-top: 128px;
    position: relative;
}

.services-categories {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    justify-items: center;
    gap: 64px 32px;

    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 64px;
    right: 64px;
}

.services-category {
    flex: 1;

    max-width: 313px;
    max-height: 193px;

    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
}

.services-category img {
    width: 80px;
    height: 80px;
}

.footer-pages__wrapper {
    margin-top: 128px;
}

.footer-pages__rows {
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.20);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 32px;
}

.footer-pages__row {
    /* max-width: 691px; */
    width: 100%;
}

.footer-pages__row h3{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer-pages__row a{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */

    margin-top: 8px;
}

.footer-pages__header .footer-pages__rows:last-child {
    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.10);
}

.footer-pages__main {
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.footer-pages__main .footer-pages__col {
    /* max-width: 724px; */
    width: 100%;
    flex: 1;
}

.footer-pages__main .footer-pages__rows {
    /* max-width: 724px; */
    width: 100%;

    display: flex;
    flex-direction: column;

    height: 100%;
}

.footer-pages__main .footer-pages__rows {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.footer-pages__main .footer-pages__rows .footer-pages__row {
    /* max-width: 724px; */
    width: 100%;
}

.footer-pages__main .footer-pages__rows .footer-pages__row:first-child {
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.20);
    padding: 32px;

    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    text-transform: uppercase;
    height: 100%;
}

.footer-pages__main .footer-pages__rows .footer-pages__row:last-child {
    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 32px;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    text-transform: uppercase;
    height: 100%;
    max-height: 150px;
}

.footer-pages__main .footer-pages__rows .footer-pages__row:last-child p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 23.4px */
    margin-top: 8px;
}

.footer-pages__main .footer-pages__rows .footer-pages__row:last-child a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; 
}

.news-select__wrapper {
    margin-top: 64px;

    display: flex;
    flex-direction: row;
}

.news-select__txt {
    border-radius: 10px 0px 0px 10px;
    background: rgba(255, 255, 255, 0.20);
    padding: 20px;
    color: #FFF;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    text-transform: uppercase;
}

.news-select__option {
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

.news-select__wrapper select {
    background: rgba(255, 255, 255, 0.10);
    border: none;
    outline: none;
    padding: 20px;
    width: 454px;

    color: #FFF;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    cursor: pointer;
}

.news-select__wrapper option {
    color: #FFF;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}

.news-select__arrow {
    border-radius: 0px 10px 10px 0px;
    background: #FFCB00;
    padding: 20px;

    cursor: pointer;

    position: absolute;
    right: 0;
    z-index: -1;
}

#news .catalog-title__pages {
    background: #FFCB00;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

.news-btn {
    margin-top: 30px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;

    border-radius: 0px 0px 10px 10px;
    background: #FFCB00;

    color: #090E1A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.18px;

    outline: none;
    border: 1px solid transparent;

    max-width: 272px;
    width: 100%;
    max-height: 60px;
    height: 100%;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.news-btn:hover {
    background: transparent;
    border: 1px solid #FFCB00;
    color: #FFF;
}

#news .catalog-item__pages {
    max-width: 347px;
    max-height: 387px;
}

#news .catalog-title__pages {
    bottom: 30%;
}

#news .catalog-item__pages img {
    max-width: 347px;
    max-height: 298px;
}

#news .catalog-item__pages .news-title__pages {
    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 30px 20px 20px 20px;
    color: #FFF;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    margin-top: -10px;
    height: 125px;
}

.news-item__wrapper {
    margin-top: 64px;
}

.news-item__img {
    max-width: 875px;
    max-height: 455px;
}

.news-item__content {
    margin-top: 32px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 32px;
    max-width: 875px;
    width: 100%;
}

.news-item__content span {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}

.news-item__content p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */

    margin-top: 16px;
}


.news-item__content p:last-child {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */

    margin-top: 16px;
}

@media (min-width: 3000px) {
    .banner-content {
        left: 50%;
    }

    .manufacturers-services__wrapper {
        max-width: 1600px;
    }

    marquee {
        width: 2200px;
    }
}

@media (min-width: 2500px) {
    .banner-content {
        left: 30%;
    }

    .manufacturers-services__wrapper {
        max-width: 1400px;
    }

    marquee {
        width: 1800px;
    }
}

@media (min-width: 2000px) {
    .banner-content {
        left: 20%;
    }

    .manufacturers-services__wrapper {
        max-width: 1200px;
    }

    .banner-bcc.about img {
        height: 600px;
    }

    .banner-content__btn {
        top: 45%;
    }
}

@media (min-width: 2500px) {
    .banner-bcc.about img {
        height: 800px;
    }

    .banner-content__btn {
        top: 43%;
    }
}

@media (min-width: 3000px) {
    .banner-bcc.about img {
        height: 1000px;
    }

    .banner-content__btn {
        top: 50%;
    }
}

@media (max-width: 1780px) {
    .container {
        padding: 0 14px;
    }

    marquee {
        width: 1000px;
    }

    .banner-content__btn {
        top: 47%;
    }
}

@media (max-width: 1600px) {
    .manufacturers-services__wrapper {
        max-width: 750px;
        gap: 48px;
    }

    .information {
        max-width: 340px;
    }

    marquee {
        width: 800px;
    }
}

@media (max-width: 1400px) {
    .manufacturers-content {
        position: initial;
    }

    .manufacturers-txt {
        position: absolute;
        top: 0;
        bottom: 60%;
        left: 20%;
        right: 0;
        width: 100%;
        max-width: 828px;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .manufacturers-txt h2 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 26.4px */
        letter-spacing: -0.24px;
    }

    .manufacturers-txt p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
    }

    .manufacturers-services__wrapper {
        margin-top: 32px;
        max-width: 100%;
    }

    .information {
        max-width: 300px;
    }

    marquee {
        width: 100%;
    }

    #company {
        background-color: #FFF;
    }

    .manufacturers-content.company .manufacturers-txt {
        bottom: 50%;
        right: initial;
        left: 10%;
    }

    .manufacturers-wrapper.about .manufacturers-txt {
        position: absolute;
        top: 0;
        bottom: 20%;
        left: 5%;
        right: 0;
        width: 100%;
        max-width: 1028px;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .advantages-wrapper {
        flex-direction: column;
    }

    .advantages-txt {
        max-width: 100%;
        font-size: 16px;
    }

    .advantages-img img {
        max-height: 300px;
    }

    .advantages-els {
        flex-direction: row;
        font-size: 20px;
    }

    .advantages-el svg {
        margin-bottom: 24px;
    }

    .about-photo__wrapper .about-photo__main {
        height: 642px;
    }

    .services-categories {
        grid-template-columns: repeat(3, 4fr);
    }

    .services-info__wrapper .services-info__bcc {
        height: 1050px;
    }
}

@media (max-width: 1245px) {
    .header-info {
        display: none;
    }
}

@media (max-width: 1210px) {
    .informations {
        gap: 40px;
    }

    .information {
        max-width: 340px;
    }

    .banner-btn__el svg{
        width: 300px;
    }

    .manufacturers-wrapper.about .manufacturers-txt {
        max-width: 900px;
    }

    .manufacturers-wrapper.about .manufacturers-txt p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
    }
}

@media (max-width: 1120px) {
    .catalog-wrapper {
        gap: 30px;
    }
}

@media (max-width: 1025px) {
    .information-logo {
        display: none;
    }

    .swiper.main .swiper-title span {
        font-size: 32px;
    }

    .swiper.main .swiper-slide {
        height: 375px;
    }

    .manufacturers-content.company .manufacturers-txt {
        bottom: 57%;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);  
    }

    .manufacturers-wrapper.about .manufacturers-txt {
        position: absolute;
        top: 0;
        bottom: 20%;
        left: 3%;
        right: 0;
        width: 100%;
        max-width: 800px;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .title-wrapper h2 {
        font-size: 32px;
        margin-top: 128px;
    }

    .advantages-els {
        font-size: 18px;
    }

    .mySwiper-about .swiper-slide {
        width: 300px;
        height: 147px;
    }

    .about-photo__wrapper .about-photo__main {
        height: 476px;
    }

    .catalog-wrapper__pages {
        grid-template-columns: repeat(3, 1fr);
    }

    .services-categories {
        grid-template-columns: repeat(2, 5fr);
    }

    .services-info__wrapper .services-info__bcc {
        height: 1100px;
        object-fit: cover;
    }

    .footer-pages__row h3 {
        font-size: 20px;
    }

    .footer-pages__row a {
        font-size: 16px;
    }

    .footer-pages__main .footer-pages__rows .footer-pages__row:last-child {
        font-size: 16px;
    }

    .footer-pages__main .footer-pages__rows .footer-pages__row:last-child a {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .manufacturers-txt {
        max-width: 422px;
        bottom: 65%;
    }

    .product-title h2 {
        font-size: 16px;
    }

    .product-img svg {
        width: 100%;
        height: revert-layer;
    }

    .banner-bcc.about img{
        height: 320px;
    }

    .banner-content__btn {
        top: 30%;
    }
}

@media (max-width: 900px) {
    .header-burger {
        display: flex;
        cursor: pointer;
    }

    .header-nav {
        display: none;
    }

    .banner-content h2 {
        color: #FFF;
        font-size: 42px;
        font-style: normal;
        font-weight: 200;
        line-height: 110%; /* 46.2px */
        letter-spacing: -0.42px;
        text-transform: uppercase;
    }

    .banner-content span {
        color: #FFCB00;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
    }

    .banner-content__btn {
        flex-wrap: wrap;
    }

    .manufacturers-wrapper.about {
        margin-top: 80px;
    }

    .manufacturers-wrapper.about .manufacturers-txt {
        max-width: 600px;
    }

    .banner-btn__el a {
        font-size: 16px;
    }
}

@media (max-width: 790px) {
    .product-title {
        height: 75px;
    }

    .catalog-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);  
        gap: 20px; 
    }

    .footer-pages__main {
        flex-direction: column;
    }

    .footer-pages__rows {
        flex-direction: column;
        gap: 32px;
    }

    .footer-pages__main .footer-pages__col .footer-pages__rows {
        gap: 0;
    }

    .footer-pages__main .footer-pages__rows .footer-pages__row:last-child {
        max-height: max-content;
    }
}

@media (max-width: 768px) {
    .manufacturers-txt {
        bottom: 70%;
        max-width: max-content;
        left: initial;
        right: 5%;
    }

    .manufacturers-txt p {
        display: none;
    }

    .manufacturers-bcc__back {
        display: none;
    }

    .information {
        max-width: 100%;
    }

    .swiper.main .swiper-title span {
        font-size: 24px;
    }

    .swiper.main .swiper-slide {
        height: 280px;
    }

    .manufacturers-wrapper.about .manufacturers-bcc {
        display: none;
    }

    .manufacturers-wrapper.about .manufacturers-txt p {
        display: block;
        margin-top: 96px;
        color: #FFF;
    }

    .advantages-els {
        flex-direction: column;
    }

    .advantages-img img {
        height: 800px;
        max-height: 100%;
    }

    .mySwiper-about .swiper-slide {
        width: 214px;
        height: 105px;
    }

    .about-photo__wrapper .about-photo__main {
        height: 350px;
    }

    .catalog-wrapper__pages {
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
    }

    .services-categories {
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
    }

    .services-category {
        font-size: 16px;
        gap: 8px;
        max-width: 200px;
        max-height: 200px;
    }

    .news-select__wrapper select {
        width: 354px;
    }

    .news-select__txt {
        font-size: 16px;
    }

    .news-select__wrapper select {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .manufacturers-txt {
        bottom: 75%;
    }

    .header-logo__txt h1 {
        display: none;
    }

    .product-img svg {
        height: 100px;
    }

    .swiper.main .swiper-slide {
        height: 380px;
    }

    .manufacturers-content.company .manufacturers-txt {
        bottom: 63%;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .header-background {
        background-color: #090E1A;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        height: 100px;
        z-index: 998;
    }

    .banner-content__btn {
        top: 35%;
    }
}

@media (max-width: 500px) {
    .banner-content {
        left: 5%;
    }

    .banner-content.about {
        top: 20%;
    }

    .manufacturers-txt {
        bottom: 80%;
    }

    #company .manufacturers-bcc img {
        height: 100px;
    }

    .manufacturers-content.company .manufacturers-txt {
        bottom: 70%;
        width: auto;
    }

    .manufacturers-wrapper.about .manufacturers-txt p {
        margin-top: 150px;
        margin-bottom: 64px;
    }

    .mySwiper-about .swiper-slide {
        width: 101px;
        height: 49px;
    }

    .about-photo__wrapper .about-photo__main {
        height: 166px;
    }

    .catalog-wrapper__pages {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .news-select__wrapper select {
        width: 250px;
    }
}